[user]
  name = Leo Mehr
  email = leo.mehr@gmail.com

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[fetch]
  prune = true

[rerere]
  enabled = true

[diff]
  algorithm = histogram
